#nav {
	margin: 30px auto;
}

#nav tr {
	height: 50px;
}

#nav tr td a {
	border: 2px solid black;
	border-radius: 7%;
	padding: 10px 15px;
	margin-right: 20px;
	text-decoration: none;
	color: black;
}

#nav tr td a:hover {
	transition: .3s;
	border: 2px solid #0aab8e;
	background-color: #0aab8e;
	color: white;
}

#nav tr td a:last-child:hover {
	border: 0;
	background-color: white;
	border-radius: 0;
	padding: 10px 0px;
	margin-right: 20px;
	text-decoration: none;
}

#nav tr td a:last-child {
	border: 0;
	border-radius: 0;
	padding: 10px 0px;
	margin-right: 20px;
	text-decoration: none;
}

#nav tr td a img {
	width: auto; 
	height: 30px; 
	vertical-align: middle; 
	padding-bottom: 5px;
}