* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
}

body { 
  background-color: white!important; 
  color: #333; 
  font-size: 14px; 
  font-family: Verdana, Arial, sans-serif;
  line-height: 20px;
}

ul,ol {
	list-style: none;
}

a {
	color: black;
  text-decoration: none;
}

.btn {
  display: block;
  color: white;
  font-size: 1.09em;
  font-weight: bolder;
  width: 200px !important;
  padding: 15px 30px!important;
  border-radius: 10px!important; 
  background-color: #0aab8e!important; 
  border: 1.5px solid #0aab8e!important; 
  margin: 20px auto !important; 
  cursor: pointer;
  transition: .7s;
}

.btn:hover {
  color: #333;
  background-color: white!important; 
}