#log {
	border: 0;
	margin: 60px auto;
}

#log h1 {
	display: block;
	width: max-content;
	color: #0aab8e;
	padding: 10px;
	margin: 10px auto 40px auto !important;
}

#log input {
	display: block;
	background-color: white;
	width: 600px;
	padding: 15px;
	border: 1px solid #0aab8e;
	border-radius: 5px;
	margin: 7px auto;

}


#login {
	border: 2px solid #0aab8e !important;
}

#emailformmsg, #passformmsg, #submitformmsg {
	display: none;
	font-size: 12px;
}

#remember {
	display: block;
	width: 600px;
	margin: 0 auto
}

#remember>input, #remember label {
	display: inline-block !important;
	width: max-content;
}

#emailformmsg, #passformmsg {
	display: none;
	width: 600px;
	margin: 0 auto;
	font-size: 12px;
}

