#content {
	margin: 0 auto;
}

#content tr td {
	background-color: #eaeaea;
}

.work {
	width: 340px;
	height: 600px;
	margin-right: 5px;
}

.work ul {
    list-style: none;
    padding-left: 0;
}
.work ul li {
	display: block;
	width: 70%;
	padding: 10px;
	margin: 0px auto;
}
.work ul li a {
    display: block;
    text-align: center;
}

.work ul li a {
	text-decoration: none; 
	color: #0aab8e; 
	padding: 10px 30px; 
	border: 1.5px solid #0aab8e; 
	border-radius: 5px; 
	background-color: white;
}

.work ul li a:hover {
	color: white; 
	background-color: #0aab8e;
}