<td class="work">
    <ul>
        <li>
            <a href="sellerWork.php" >SEVICES</a>
        </li>
        <li>
            <a href="favServices.php" >Favourite Services</a>
        </li>
        <li>
            <a href="sellerOrderList.php" >ORDER LIST</a>
        </li>
        <li>
            <a href="comment_rating.php" >COMMENTS & RATING</a>
        </li>
        <li>
            <a href="report.php" >REPORTS</a>
        </li>
        <li>
            <a href="faqs.php" >FAQs</a>
        </li>
    </ul>
</td>