#add>form input, #add>form textarea, #add>form select,
#edit>form input, #edit>form textarea, #edit>form select,
#flag form input {
	display: block;
	width: 400px;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	margin: 25px auto;
}

#add>form textarea, #edit>form textarea {
	max-width: 400px;
	max-height: 400px;
	min-width: 400px;
	min-height: 100px;
	height: 100px;	
}

#add>form select, #edit>form select {
	width: 420px;
}

#Submit {
	display: block; 
	width: 150px !important;
	cursor: pointer;
	background-color: white; 
	border: 1.5px solid #0aab8e; 
	border-radius: 5px; 
	padding: 10px 30px; 
	margin: 20px auto;
	cursor: pointer;
}

#Submit:hover {
	width: 150px !important;
	color: white;
	background-color: #0aab8e; 
}

.option {
	width: max-content;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.option li {
	width: 87px;
	text-align: center;
	margin: 10px 20px;
}

.option li button {
	cursor: pointer;
	width: 100px;
	color: white;
	text-align: center;
	padding: 10px 15px;
	border: 1.5px solid #0aab8e; 
	border-radius: 5px; 
	background-color: #0aab8e;
}

.option li button:hover {
	color: #0aab8e;
	background-color: white;
}

#add, #view, #edit, #flag, #delete {
	width: 1000px;
	height: 600px;
}

.title {
    width: max-content;
    margin: 30px auto;
}

#view>table, #delete>table {
	margin: 0px auto 30px auto;
}

#view>table tr:nth-child(1), #delete>table tr:nth-child(1) {
	font-weight: bold;
}

#view>table tr td, #delete>table tr td {
	border: 1px solid #0aab8e;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
}

#delete p {
	background-color: #ff8080;
    width: max-content;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 0 auto 20px auto;
}

table[changeValue="1"] #edit,
table[changeValue="1"] #flag,
table[changeValue="1"] #delete,
table[changeValue="1"] #view,
table[changeValue="2"] #add,
table[changeValue="2"] #view,
table[changeValue="2"] #flag,
table[changeValue="2"] #delete,
table[changeValue="3"] #add,
table[changeValue="3"] #view,
table[changeValue="3"] #edit,
table[changeValue="3"] #delete,
table[changeValue="4"] #add,
table[changeValue="4"] #view,
table[changeValue="4"] #edit,
table[changeValue="4"] #flag,
table[changeValue="5"] #add,
table[changeValue="5"] #edit,
table[changeValue="5"] #flag,
table[changeValue="5"] #delete {
	display: none !important;
}