#login {
	width: 30%;
	margin: 20px auto;
}

#login h1 {
	display: block;
	width: 500px;
	margin: 30px auto;
	color: #0aab8e
}

#login form input {
	display: block;
	padding: 10px;
	margin: 25px auto;
	width: 300px
}

#Submit {
	width: 50px!important; 
	margin: 20px auto !important; 
	padding: 10px 30px !important; 
	border: 1.5px solid #0aab8e !important; 
	border-radius: 5px !important; 
	background-color: white !important; 
	cursor: pointer !important;
}

#remember {
	display: inline !important;
}

